@mixin flexCenter($direction, $background) {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  background-color: $background;
}

header {
  @include flexCenter(column, aqua);
  color: $textColor;

  button {
    background-color: $primaryBtn;
    &:hover {
      background-color: blue;
    }
    &::after {
      content: "Hi";
    }
  }
}
